{% load static %}  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <link
            rel="stylesheet"
            href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script
            src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %} ">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>

        <div class="login">

            <div class="avatar">
                <i class="fas fa-user"></i>
            </div>

            <h2>LOGIN PEGAWAI</h2>

            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="box-login">
                    <i class=" fas fa-user"></i>
                    <input type="text" name="username" value="" placeholder="Masukkan username..." />
                </div>
                <div class="box-login">
                    <i class=" fas fa-lock"></i>
                    <input type="password" name="password" value="" placeholder="Masukkan password..." />
                </div>

                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    </body>
</html>