{% extends "hal_admin/base.html" %}{% load static %}

{% block title %}
    Data Antrian
{% endblock title %}
{% block header %}
    <link
        rel="stylesheet"
        href="{% static 'hal_admin/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %} ">
    <link
        rel="stylesheet"
        href="{% static 'hal_admin/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %} "> 
    <link
        rel="stylesheet"
        href="{% static 'hal_admin/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %} "> 
{% endblock header %}
    {% block konten %}

       <!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Data Antrian</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{% url 'pegawaiadmin:index_pegawaiadmin' %}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Antrian Pasien</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a
                        href="{% url 'dokter:history_pasien' %}"
                        class="btn btn-sm btn-neutral">History Antrian Pasien</a>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Data Antrian Pasien Klinik Ndang Waras</h3>
                    <p class="text-sm mb-0">
                        Berikut ini adalah data antrian pasien yang ada di Klinik Ndang Waras.
                    </p>
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-buttons">
                        <thead class="thead-light">
                            <tr>
                                <th>No Antrian</th>
                                <th>No RM</th>
                                <th>Nama Pasien</th>
                                <th>Waktu Daftar Antrian</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No Antrian</th>
                                <th>No RM</th>
                                <th>Nama Pasien</th>
                                <th>Waktu Daftar Antrian</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ps in data %}
                            <tr>
                                <td>{{ps.idantrian.noantrian}}</td>
                                <td>{{ps.idpendaftaran.norm.norm}}</td>
                                <td>{{ps.idpendaftaran.norm.namapasien}}</td>
                                <td>{{ps.idpendaftaran.created_on|date:'H:i'}} WIB</td>
                                <td>
                                   <input type="button" class="btn btn-primary" onclick="location.href='{% url 'dokter:periksa_pasien' ps.id  %}'" value="Periksa Pasien" />
                                    <!--  <a type="button" class="btn btn-outline-danger" href="{% url 'pegawaiadmin:hapuspasien' ps.id  %}" onclick="return confirm('Anda yakin mau menghapus data ini?');">Delete</a> -->
                                    
                                  </td>                               
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Argon Scripts -->

    {% endblock konten %}

{% block script %}
<script src="{% static 'hal_admin/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'hal_admin/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'hal_admin/js/demo.min.js' %}"></script>



{% endblock script %}
